[Unit]
Description=Rocket Wallpaper
PartOf=rocket-session.target
After=rocket-session.target

[Service]
Type=simple
ExecStart=/usr/bin/rocket-wallpaper
Restart=on-failure
RestartSec=3

[Install]
WantedBy=rocket-session.target
