[Unit]
Description=Rocket Clipboard
PartOf=rocket-session.target
After=rocket-session.target

[Service]
Type=simple
ExecStart=/usr/bin/rocket-clipboard
Restart=on-failure
RestartSec=3

[Install]
WantedBy=rocket-session.target
